//kolor avon rgb(236,4,142)
body {
    background: grey;
}

.cont {
    margin: 0;
    margin-right: -100px;

}

.col-4 {
    border: 1px solid black;
    background: lightyellow;
}

.PhotoSize img {
    width: 100%;
    height: 400px;
}

myClass {
    background: #000;
}




.okladka img {
    width: 20vw;
    height: 30vw;
}



.boxxx {
    width: 100px;
    height: 100px;
    background: #000;
}

.newsletter img {
    width: 100%;
}

.container p {
    font-size: 14px;
    text-align: center;
}

.okladkaMargin {
    margin: 50px 0;
}




.jeden:hover {

    background: #000;
}

.dwa {
    display: none;
}

.appearText {
    background: lightgrey;
    border-radius: 10px;
}


.jejeje {
    margin:10px 0;
   padding: 20px;
     background: lightgrey;
    border-radius: 10px;    
    font-size: 2vw;
     transition-timing-function: ease-in-out;
}

#jejeje {
   
}



.rozwijanyTekst{
    display: one;
    font-size: 1.9vw;
    
}


.dadada{
   // display: none;
    font-size: 0vw;
    transition: font-size 1.3s;
}



@media only screen and (max-width: 767px) {

    .okladka img {
        width: 60vw;
        height: 85vw;
    }

    .newsletter img {
        display: none;
    }


}
