//kolor avon rgb(236,4,142)

body{
    background: grey;
   }
.cont {
    margin: 0; 
    margin-right: -100px;
    
}
    
.col-4{
    border: 1px solid black;
    background: lightyellow;
}

.PhotoSize img{
    width:100%;
    height:300px;
}

myClass{ 
    background: #000;
}